<div class="selected-event">

  <div style="flex:1; display: flex; align-items: flex-end;">

    <div style="display:flex; flex-direction:column; margin-right: 10px;">
      <span class="field-label required space-down" style="margin-right: 10px;">
        Mapping Target
      </span>
      <select name="mappingTarget" [(ngModel)]="mappingTarget" (ngModelChange)="onChangeMapping($event)" data-tests-id="mappingDdl"
        style="height: 35px; padding: 0.3rem; border: 1px solid #d2d2d2; width:250px;" class="field-select">
        <option [ngValue]="null" disabled>Select Mapping</option>
        <optgroup label="Rules Configured">
          <option *ngFor="let target of advancedSetting" [hidden]="!target.isExist" [value]="target.name" data-tests-id="templateOptionsExist">{{target.name}}</option>
        </optgroup>
        <optgroup label="No Mapping Configuration">
          <option *ngFor="let target of advancedSetting" [hidden]="target.isExist" [value]="target.name" data-tests-id="templateOptionsNotExist">{{target.name}}</option>
        </optgroup>
      </select>
    </div>

    <div style="display:flex; flex-direction:column; margin-right: 10px;">
      <span class="field-label required space-down" style="font-size: 13px; margin-right: 10px; display: flex;
        align-items: center;" [ngClass]="{'required' : !readOnly}">
        Version
      </span>
      <select *ngIf="!readOnly" style="height: 35px; padding: 0.3rem; border: 1px solid #d2d2d2" [(ngModel)]="selectedVersion" [disabled]="store.viewOnly"
        (ngModelChange)="onSelectVersion($event)" data-tests-id="selectVersion">
        <option [ngValue]="null" disabled>Select Version</option>
        <option *ngFor="let version of versions" [value]="version" data-tests-id="option">{{version}}</option>
      </select>
      <span *ngIf="readOnly" style="height: 35px; padding: 0.3rem; width:100px; border: 1px solid #D2D2D2; display: flex; align-items: center; background: #F2F2F2">{{selectedVersion}}</span>
    </div>

    <div style="display:flex; flex-direction:column; margin-right: 10px;">
      <span class="field-label required space-down" style="font-size: 13px; display: flex; align-items: center; width: 100px;"
        [ngClass]="{'required' : !readOnly}">
        Event Domain
      </span>
      <select *ngIf="!readOnly" style="height: 35px; padding: 0.3rem; border: 1px solid #d2d2d2" [(ngModel)]="selectedEvent" (ngModelChange)="onSelectEventType($event)"
        data-tests-id="selectEventType" [disabled]="store.viewOnly">
        <option [ngValue]="null" disabled>Select Type</option>
        <option *ngFor="let event of events" [value]="event" data-tests-id="option">{{event | slice:0:event.length-6}}</option>
      </select>
      <span *ngIf="readOnly" style="height: 35px; padding: 0.3rem; width:200px; border: 1px solid #D2D2D2; display: flex; align-items: center; background: #F2F2F2">{{selectedEvent
        | slice:0:selectedEvent.length-6}}</span>
    </div>

    <!-- <div class="notifyId" style="display: flex; flex-direction:column; margin-right:10px;">
      <div class="pretty p-svg space-down">
        <input type="checkbox" name="notifyIdCheckbox" data-tests-id="notifyIdCheckbox" [checked]="notifyIdCheckbox" (change)="changeNotifyId()"
        />
        <div class="state">
          <svg class="svg svg-icon" viewBox="0 0 20 20">
            <path d="M7.629,14.566c0.125,0.125,0.291,0.188,0.456,0.188c0.164,0,0.329-0.062,0.456-0.188l8.219-8.221c0.252-0.252,0.252-0.659,0-0.911c-0.252-0.252-0.659-0.252-0.911,0l-7.764,7.763L4.152,9.267c-0.252-0.251-0.66-0.251-0.911,0c-0.252,0.252-0.252,0.66,0,0.911L7.629,14.566z"
              style="stroke: #009fdb; fill:#009fdb;"></path>
          </svg>
          <label style="margin-left: 5px;">Notify OID</label>
        </div>
      </div>
      <div *ngIf="notifyIdCheckbox" class="input-wrapper">
        <input type="text" ngModel required name="defaultInput" data-tests-id="defaultInput" [(ngModel)]="store.notifyIdValue" class="input">
      </div>
    </div> -->

  </div>

</div>
