[access]
	inheritFrom = All-Projects
[project]
	description = DCAE Designer Front End UI\n\nArchived as per IT-20536
	state = read only
[access "refs/*"]
	owner = group ldap/onap-gerrit-sdc-dcae-d-fe-committers
	owner = group saml/onap-gerrit-sdc-dcae-d-fe-committers
	read = group GitHub Replication
[submit]
	action = rebase if necessary
[plugin "its-jira"]
	enabled = true
