@import '~@swimlane/ngx-datatable/release/themes/material.css';
.home-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 15px 20px;
  margin-left: 15px;
  margin-right: 15px;
  .wrapper-btn-add-mc {
    margin-top: 46px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .btn-create {
    width: 150px;
    height: 36px;
  }
}

.my-confrim-dialog .mat-dialog-container {
  max-width: 600px;
  width: 500px;
  height: 200px;
  padding: 0;
}

/deep/ .ui-tooltip .ui-tooltip-text {
  font-size: 0.8em;
  padding: 0.7em;
}

/deep/ .ui-tooltip {
  max-width: 400px;
}

.ngx-datatable-monitoring-name {
  &:hover {
    color: #009fdb;
    text-decoration: underline;
    cursor: pointer;
  }
}

.ngx-datatable.material .datatable-header .datatable-header-cell {
  background: #f4f4f4;

  span {
    font-weight: bold;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif !important;
  }
}

.ngx-datatable .datatable-body-cell,
.ngx-datatable .datatable-header-cell {
  border: 0.1px solid #d2d2d2;
}

.ngx-datatable.material.single-selection .datatable-body-row.active,
.ngx-datatable.material.single-selection
  .datatable-body-row.active
  .datatable-row-group,
.ngx-datatable.material.multi-selection .datatable-body-row.active,
.ngx-datatable.material.multi-selection
  .datatable-body-row.active
  .datatable-row-group,
.ngx-datatable.material.multi-click-selection .datatable-body-row.active,
.ngx-datatable.material.multi-click-selection
  .datatable-body-row.active
  .datatable-row-group {
  background-color: #e6f6fb !important;
  color: #5a5a5a;
}

.activeBtnWrapper .activeBtn {
  opacity: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: -5px;
}

// .ngx-datatable.fixed-row
//   .datatable-scroll
//   .datatable-body-row
//   .datatable-body-cell {
//       padding: 3px;
// display: flex;
// align-items: center;
// padding-left: 7px;
// }

.ngx-datatable.material {
  box-shadow: none;
}
