.bars {
  hr {
    height: 22px;
    color: #d2d2d2;
  }
}
.setting {
  position: absolute;
  top: 47px;
  right: 0;
  background: white;
  padding: 1em;
  border: 1px solid gray;
  display: flex;
  min-width: 400px;
  z-index: 2;
  // width: 35%;
}

.target-field {
  width: 370px;
  display: flex;
  align-items: center;
  margin: 10px;
  .field-label {
    padding-right: 10px;
  }
  .required::before {
    content: '*';
    color: red;
    padding-right: 5px;
  }
  .field-select {
    flex: 1;
    width: 100%;
    min-width: 250px;
    padding: 5px 0 5px 5px;
    margin: 0;
  }
}

.field {
  margin: 1em;
  .field-label {
    padding-bottom: 0.5em;
  }
  .field-text {
    flex: 1;
    width: 100%;
    min-width: 250px;
    padding: 5px 0 5px 5px;
    margin: 0;
  }
}
