.from {
  display: flex;
  flex-direction: column;
  padding: 0 10px;

  .label {
    border: 1px solid #d2d2d2;
    height: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
  }
}

.from-select {
  width: 250px;
  border: none;
}

.from-conatiner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  min-width: 350px;

  .input-text {
    border: none;
    flex: 1;
    width: 100%;
    min-width: 250px;
    padding: 5px 0 5px 5px;
    margin: 0;
  }
}

.button-remove {
  display: flex;
  justify-content: center;
  color: #a7a7a7;
  &:hover {
    color: #009fdb;
  }
}

:host {
  @mixin md-icon-size($size: 24px) {
    font-size: $size;
    height: $size;
    width: $size;
  }

  .material-icons.mat-icon {
    @include md-icon-size(24px);
  }
  /deep/ .mat-button-wrapper {
    padding: 0;
  }
  .mat-icon {
    width: 18px;
    height: 18px;
  }
}
