.left,
.right {
  width: 50%;
}

.ng-select.ng-single .ng-control {
  border-radius: 0;
  height: 30px;
  min-height: 30px;
}

.toast-container .toast {
  width: 400px !important;
  box-shadow: none;
  border-radius: 0;
}

.toast-container .toast:hover {
  box-shadow: none;
}

.field {
  margin: 1em;
  margin-left: 0;
  .field-label {
    padding-bottom: 0.5em;
    color: #5a5a5a;
    font-weight: normal;
    font-size: 12px;
  }
  .required::before {
    content: '*';
    color: red;
  }
  .field-text {
    flex: 1;
    width: 100%;
    min-width: 250px;
    padding: 5px 0 5px 5px;
    margin: 0;
    border-radius: 2px;
    border: 1px solid #d2d2d2;
    color: #5a5a5a;
    input,
    select {
      height: 35px;
    }
  }
}
