/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/indigo-pink.css';
@font-face {
  font-family: 'Open Sans';
  src: url('./assets/fonts/OpenSans-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Open Sans-SemiBold';
  src: url('./assets/fonts/OpenSans-SemiBold.ttf') format('ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Open Sans', sans-serif;
  font-size: 13px; */
}

html,
body,
app-root,
app-home {
  height: 100%;
  font-family: 'Open Sans', sans-serif !important;
  font-size: 13px;
  /* height: 100vh; */
}

select,
input,
textarea {
  font-family: 'Open Sans', sans-serif !important;
}

div,
span {
  font-weight: 400;
}

/* form input validation border */

textarea.ng-touched.ng-invalid:not(form),
input.ng-touched.ng-invalid:not(form) {
  border: 1px solid #cf2a2a !important;
}

/** reset button **/

.mat-fab.mat-primary,
.mat-mini-fab.mat-primary,
.mat-raised-button.mat-primary {
  background-color: #009fdb;
}

.mat-fab,
.mat-mini-fab,
.mat-raised-button {
  box-shadow: none !important;
}

.btn-secondry {
  border: 1px solid #009fdb !important;
  color: #009fdb !important;
  background: #ffffff !important;
  box-shadow: none !important;
}

.mat-raised-button.mat-primary[disabled] {
  background-color: #979797;
  color: white;
}

/* Astrix required */

.required::before {
  content: '*';
  color: red;
  margin-right: 3px;
}

/** overide dialog **/

/* .ui-dialog {
  border-top: solid 6px #cf2a2a;
} */

.ui-dialog-titlebar {
  background: white;
}
